<html lang="en">
<head>
    <title>{{manufacturer}} paints</title>
    <link rel="stylesheet" href="/spectre.min.css">
    <link rel="stylesheet" href="/spectre-exp.min.css">
    <link rel="stylesheet" href="/spectre-icons.min.css">
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-lg-12">
            <h1>{{manufacturer}}</h1>
            <ul>
                {% for paint, paint_slug in paints %}
                <li>
                    <a href="/paints/{{man_slug}}/{{paint_slug}}.html">{{paint}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>