<html lang="en">
<head>
    <title>
        {{manufacturer}} - {{paint_name}}
    </title>
    <link rel="stylesheet" href="/spectre.min.css">
    <link rel="stylesheet" href="/spectre-exp.min.css">
    <link rel="stylesheet" href="/spectre-icons.min.css">
</head>

<body>
<div class="container">
    <div class="columns">
        <div class="column col-lg-12">
            <h1>
                {{manufacturer}} - {{paint_name}}
            </h1>

            <ul>
                {% for pigment in pigments %}
                <li>
                    <a href="/pigments/{{pigment[2]}}.html">{{pigment[0]}} - {{pigment[1]}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>
